.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-white {
  color: white !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.temperature-display {
  font-size: 4rem;
  font-weight: bold;
}

.header-text {
  font-size: 2rem;
  font-weight: bold;
}

.mt-5 {
  margin-top: 3rem !important;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-form {
  display: flex;
  align-items: center;
}

.navbar-form input,
.navbar-form button {
  height: 40px;
  margin-right: 10px;
}

.navbar-form input {
  flex: 1;
}

.card-text,
.card-title {
  font-size: 1.5rem;
}
